<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/category.css">
        <script defer src="/javascripts/category.js"></script>
    </head>
    <body>
        <main class="mw6 center">
            <article class="dt w-100 bb b--black-05 pb2 mt2 table-header" href="#0" v-if="categoryList.length > 0">
            <div class="dtc v-mid pl3 w15">
                <h1 class="f6 f5-ns fw6 lh-title black mv0">Name </h1>
            </div>
            <div class="dtc v-mid">
                <div class="w-100 tr">
                </div>
            </div>
            </article>
            <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0" id="category-list">
            
            </article>
        </main>
    </body>
</html>