<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/product.css">
    <script defer src="/javascripts/product.js"></script>
</head>
<body>
    <main class="mw6 center">
        <article class="dt w-100 bb b--black-05 pb2 mt2 table-header" href="#0">
            <div class="dtc w12 v-mid pl3" style="padding-left: 6rem;">
                <h1 class="f6 f5-ns fw6 lh-title black mv0">Name </h1>
              </div>
              <div class="dtc v-mid w7 pl3" style="margin: 10px 0px 10px 0" v-if="post.type">
                <h3 class="f6 f5-ns fw6 lh-title black mv0">Brand </h3>
              </div>
              <div class="dtc v-mid pl3 w17" style="margin: 10px 0px 10px 0; " >
                <h5 class="f6 f5-ns fw6 lh-title black mv0 truncate">Description</h5>
              </div>
              <div class="dtc v-mid pl3 w17" style="margin: 10px 0px 10px 0; " >
                <h5 class="f6 f5-ns fw6 lh-title black mv0 truncate">Category</h5>
              </div>
              <div class="dtc v-mid pl3 w12" style="margin: 10px 0px 10px 0; ">
                <h5 class="f6 f5-ns fw6 lh-title black mv0 truncate">Price</h5>
              </div>
              <div class="dtc v-mid w17" style="width: 45rem;">
               
              </div>
        </article>
        <article class="dt w-100 bb b--black-05 pb2 mt2"style="width: 100%" href="#0"id="product-list">
         
        </article>
        
      </main>
</body>
</html>
